{% extends 'base.html' %}
{% load static %}

{% block meta-tags %}
	<meta name="description" content="">
	<meta name="keywords" content="{% for categories in categories_name %} {{ categories.name }}{% endfor %}">
{% endblock %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}

		<!-- Page Title ============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>{{ category.name }}</h1>
				<span>Our Latest Posts in {{ category.name }}</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content ============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row gutter-40 col-mb-80">
						<!-- Post Content ============================================= -->
						<div class="postcontent col-lg-9 order-lg-last">

							<!-- Posts ============================================= -->
							<div id="posts" class="post-grid row grid-container gutter-30" data-layout="fitRows">
								{% for post in posts %}
								<div class="entry col-sm-6 col-12">
									<div class="grid-inner">
										<div class="entry-image">
											<a href="{% url 'post-details' id=post.id %}"><img src="{{ post.image.url }}" alt="Post Image"></a>
										</div>
										<div class="entry-title">
											<h2><a href="{% url 'post-details' id=post.id %}">{{ post.title }}</a></h2>
										</div>
										<div class="entry-meta">
											<ul>
												<li><i class="icon-calendar3"></i> {{ post.updated_at|date:"M-d-Y," }}</li>
												<li><a href="{% url 'auther' id=post.author.id %}"><i class="icon-user"></i> {{ post.author|title }}</a></li>
												<li><i class="icon-folder-open"></i> {{ post.post_category }}
											</ul>
										</div>
										<div class="entry-content">
											<p>{{ post.content|truncatechars:250 }}</p>
											<a href="{% url 'post-details' id=post.id %}" class="more-link">Read More</a>
										</div>
									</div>
								</div>
								{% endfor %}
								<ul>
								{% if posts.has_other_pages %}
									{% if posts.has_previous %}
										<a class="btn btn-outline-secondary" href="?page=1">First</a>
										<a class="btn btn-outline-secondary" href="?page={{ posts.previous_page_number }}">Previous</a>
									{% endif %}
					
									{% for num in posts.paginator.page_range %}
									{% if posts.number == num %}
										<a class="btn btn-secondary" href="?page={{ num }}">{{ num }}</a>
									{% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
										<a class="btn btn-outline-secondary" href="?page={{ num }}">{{ num }}</a>
									{% endif %}
									{% endfor %}
							
									{% if posts.has_next %}
										<a class="btn btn-outline-secondary" href="?page={{ posts.next_page_number }}">Next</a>
										<a class="btn btn-outline-secondary" href="?page={{ posts.paginator.num_pages }}">Last</a>
									{% endif %}
								{% endif %}
								</ul>
							</div><!-- #posts end -->

							<!-- Pagination ============================================= -->
							<!-- <div class="d-flex justify-content-between mt-5">
								<a href="#" class="btn btn-outline-secondary">&larr; Older</a>
								<a href="#" class="btn btn-outline-dark">Newer &rarr;</a>
							</div> -->
							<!-- .pager end -->

						</div><!-- .postcontent end -->

						<!-- Sidebar ============================================= -->
						<div class="sidebar col-lg-3">
							<div class="sidebar-widgets-wrap">
								<div class="widget clearfix">
									<h3>Categories</h3>
									{% for cat_name in categories_name %}
										{% if category.name == cat_name.name %}
											<a href="{% url 'categories' category_slug=cat_name.slug %}"><h4 style="color: rgb(41, 106, 245);">{{ cat_name.name }}</h4></a>
										{% else %}
											<a href="{% url 'categories' category_slug=cat_name.slug %}"><h4>{{ cat_name.name }}</h4></a>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						</div><!-- .sidebar end -->
					</div>
				</div>
			</div>
		</section><!-- #content end -->

{% endblock %}
