{% extends "base.html" %}
{% load static %}

{% block meta-tags %}
	<meta name="description" content="This Is A Login Page, User Can Login Here">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}

	<!-- Page Title ============================================= -->
	<section id="page-title">

		<div class="container clearfix">
			<h1>Login</h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Login</li>
			</ol>
		</div>

	</section><!-- #page-title end -->

	<!-- Content ============================================= -->
	<section id="content">
		<div class="content-wrap">
			<div class="container clearfix">
				<div>	
					<div class="row">
						<div class="col-lg-6">
							<form method="POST">
								<div class="col-12 form-group">
									{% csrf_token %}
									{{ form }}
									<small class="form-text text-muted"><a href="{% url 'register' %}">Not a member yet? Register</a></small>
								</div>
								<button type="SUBMIT" class="button  button-black button-dark font-weight-medium ls0 button-rounded mt-3">Login</button>
								<small class="text-muted"><a href="{% url 'password_reset' %}">Forgot Password?</a></small>
							</form>
						</div>
						<div class="col-lg-6 ps-lg-5">
								
							<!-- custom content or image -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- #content end -->

{% endblock %}
