{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

	<!-- Page Title ============================================= -->
	<section id="page-title">

		<div class="container clearfix">
			<h1>Register</h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Register</li>
			</ol>
		</div>

	</section><!-- #page-title end -->

	<!-- Content ============================================= -->
	<section id="content">
		<div class="content-wrap">
			<div class="container clearfix">
				<div>	
					<div class="row">
						<div class="col-lg-6">
							<form method="POST">
								<div class="col-12 form-group">
									{% csrf_token %}
									{{ form.as_p }}
									<small class="form-text text-muted mt-4"><a href="{% url 'login' %}">Already a member? Please Login</a></small>
								</div>
								<button type="SUBMIT" class="button button-large button-black button-dark font-weight-medium ls0 button-rounded mt-3">Register</button>
							</form>
						</div>
						<div class="col-lg-6 ps-lg-5">
								
							<!-- custom content or image -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- #content end -->

{% endblock %}
